WinCvs/tmp/
WinCvs/output/
*.user
*.sdf
*.opensdf
WinCvs/HHelp/wincvs.log
WinCvs/HHelp/wincvs.chm
PythonLib/cvsgui/SubstModeTk.pyc
PythonLib/cvsgui/Persistent.pyc
PythonLib/cvsgui/MacroRegistry.pyc
PythonLib/cvsgui/CvsLog.pyc
PythonLib/cvsgui/Cvs.pyc
PythonLib/cvsgui/CmdUI.pyc
WinCvs/HHelp/wincvs.hm
PythonLib/cvsgui/__init__.pyc
PythonLib/cvsgui/SafeTk.pyc
PythonLib/cvsgui/MenuMgr.pyc
PythonLib/cvsgui/Macro.pyc
PythonLib/cvsgui/CvsEntry.pyc
PythonLib/cvsgui/App.pyc
WinCvs/HHelp/wincvs.h
PythonLib/cvsgui/ColorConsole.pyc
PythonLib/cvsgui/MacroUtils.pyc
WinCvs/build/vc10/ipch/wincvs-bf5e0028/wincvs-e04342e6.ipch
